<template>
  <div id="app">
    <nav-menu />
    <books />
  </div>
</template>

<script>
import Books from './components/Books/Books.vue'
import NavMenu from './components/NavMenu.vue'
export default {
  name: 'App',
  components: {
    Books,
    NavMenu,
  }
}
</script>

<style>
body {
  margin: 0;
  background: #f8f8f8;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin: 30px auto;
  padding: 0 30px;
  max-width: 1200px;
}
</style>
