<template>
  <b-modal
    id="create-book-modal"
    ref="modal"
    title="Добавить книгу"
    @show="resetModal"
    @hidden="resetModal"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group
        class="mt-3"
        label="Поиск по ключевым словам"
        label-for="search-input"
      >
        <v-select
          id="search-input"
          label="title"
          :filterable="false"
          :options="searchResult.books"
          v-model="selectedBook"
          @close="page = 1"
          @search="onSearch"
        >
          <template slot="no-options">
            Вводите ключевые слова...
          </template>
          <template slot="option" slot-scope="option">
            <div class="d-center">
              <img :src='option.image'/> 
              <a :href="option.url" target="_blank">{{ option.title }}</a>
            </div>
          </template>
          <template slot="selected-option" slot-scope="option">
            <div class="selected d-center">
              <img :src='option.image'/> 
              <a :href="option.url" target="_blank">{{ option.title }}</a>
            </div>
          </template>
          <li slot="list-footer" class="pagination d-flex">
            <b-button class="flex-fill mr-2" size="sm" :disabled="!hasPrevPage" @click="searchBook(search, -1)">Prev</b-button>
            <b-button class="flex-fill ml-2" size="sm" :disabled="!hasNextPage" @click="searchBook(search, 1)">Next</b-button>
          </li>
        </v-select>
      </b-form-group>
      <hr/>
      <div>Или можно ввести вручную:</div>
      <b-form-group
        class="mt-3"
        label="Название"
        label-for="title-input"
        invalid-feedback="Введите название"
        :state="titleValid"
      >
        <b-form-input
          id="title-input"
          v-model="book.title"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Автор"
        label-for="authors-input"
        invalid-feedback="Введите автора"
        :state="authorsValid"
      >
        <b-form-input
          id="authors-input"
          v-model="book.authors"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="ISBN (13 цифр слитно)"
        label-for="isbn-input"
        invalid-feedback="Придется постараться..."
        :state="isEdit || isbnValid"
      >
        <b-form-input
          id="isbn-input"
          v-model="book.isbn"
          required
          :disabled="isEdit"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Статус"
        label-for="status-input"
      >
        <b-form-select
          id="status-input"
          v-model="book.status"
          :options="statuses"
        ></b-form-select>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Описание"
        label-for="description-input"
      >
        <b-form-textarea
          id="description-input"
          v-model="book.description"
        ></b-form-textarea>
      </b-form-group>
    </form>
    <div v-if="errorMessage" class="mt-3" style="color: #c81a00">{{ errorMessage }}</div>
    <template #modal-footer>
      <div>
        <b-button
          variant="outline-secondary"
          size="sm"
          @click="close"
        >
          Отмена
        </b-button>
        <b-button
          variant="success"
          size="sm"
          style="margin-left: 10px;"
          @click="handleSubmit"
        >
          {{ isEdit ? 'Сохранить' : 'Добавить' }}
        </b-button>
      </div>
    </template>
  </b-modal>
</template>

<script>
import axios from 'axios';
export default {
  name: 'CreateEditBookModal',
  data() {
    return {
      selectedBook: null,
      book: {
        title: '',
        authors: '',
        description: '',
        isbn: '',
        status: 'wishlist',
      },
      isEdit: false,
      statuses: [
        { value: 'wishlist', text: 'Хочу прочитать' },
        { value: 'inprocess', text: 'Читаю' },
        { value: 'ready', text: 'Прочитана' },
      ],
      errorMessage: null,
      loadingSearch: false,
      searchResult: {},
      page: 1,
      search: '',
    }
  },
  watch: {
    selectedBook(value) {
      this.getBookInfo(value.isbn13);
    }
  },
  computed: {
    titleValid() {
      return this.book.title.length > 0;
    },
    authorsValid() {
      return this.book.authors.length > 0;
    },
    isbnValid() {
      return /^\d+$/.test(this.book.isbn) && this.book.isbn.length == 13;
    },
    hasNextPage() {
      return this.searchResult && this.searchResult.page && this.searchResult.page < this.searchResult.total / 10;
    },
    hasPrevPage() {
      return this.page > 1;
    },
  },
  methods: {
    async getBookInfo(isbn) {
      const responce = await axios.get(`https://api.itbook.store/1.0/books/${isbn}`);
      const book = responce.data;
      if (book.error != "0") {
        return;
      }
      this.book = {
        title: book.title,
        authors: book.authors,
        description: book.desc,
        isbn: book.isbn13,
        status: 'wishlist',
      }
    },
    show(isEdit, editedBook) {
      this.canSave = true;
      this.$bvModal.show('create-book-modal');

      this.isEdit = false;
      if (isEdit && editedBook) {
        this.isEdit = isEdit;
        this.book = {...editedBook};
      }
    },
    close() {
      this.$bvModal.hide('create-book-modal');
    },
    bookExists(message) {
      this.errorMessage = message;
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return valid;
    },
    resetModal() {
      this.book.title = '';
      this.book.authors = '';
      this.book.description = '';
      this.book.isbn = '';
      this.book.status = 'wishlist';
      this.errorMessage = null;
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }

      if (this.isEdit) {
        this.$emit('edit-book', this.book);
        this.$nextTick(() => {
          this.close();
        })
      } else {
        this.$emit('add-book', this.book);
      }
    },
    onSearch(search) {
      this.search = search;
      this.searchBook(search, 0);
      this.loadingSearch = true;
    },
    searchBook(search, offset) {
      this.page = Math.min(Math.max(this.page + offset, 1), this.searchResult.total || 10 / 10);
      axios.get(`https://api.itbook.store/1.0/search/${search}/${this.page}`)
      .then((responce) => {
        this.searchResult = responce.data;
        this.loadingSearch = true;
      })
      .catch(err => {
        console.log(err);
        this.loadingSearch = true;
      });
    }
  }
}
</script>
<style lang="scss" scoped>
.status-select {
  width: 100%;
}
#status-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0rem 0.5rem;
}
img {
  height: auto;
  max-width: 4.3rem;
  margin-right: 1rem;
}

.d-center {
  display: flex;
  align-items: center;
}

.selected img {
  width: auto;
  max-height: 30px;
  margin-right: 0.5rem;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
  color: #fff;
}
</style>