<template>
  <div class="nav-menu">
    <div class="d-flex align-items-center">
      <h1>BookLib</h1><small class="ml-1 mr-auto">(v{{ version }})</small>
      <b-button
        v-if="!isLogged"
        variant="primary"
        @click="openSignInModal"
      >Войти</b-button>
      <b-button
        v-if="!isLogged"
        variant="warning"
        class="ml-3"
        @click="openSignUpModal"
      >Регистрация</b-button>
      <b-button
        v-if="isLogged"
        variant="danger"
        class="ml-3"
        @click="logout"
      >Выйти</b-button>
    </div>
    <hr/>
    <sign-up-modal
      ref="signUpModal"
      @add-user="addUser"
    />
    <sign-in-modal
      ref="signInModal"
      @sign-in="signIn"
    />
  </div>
</template>

<script>
import axios from 'axios';
import SignUpModal from './UserModals/SignUpModal.vue';
import SignInModal from './UserModals/SignInModal.vue';
export default {
  name: 'NavMenu',
  data() {
    return {
      version: ''
    }
  },
  components: {
    SignUpModal,
    SignInModal,
  },
  computed: {
    isLogged() {
      return this.$store.state.authentication.status.loggedIn;
    }
  },
  created() {
    axios.get(process.env.VUE_APP_BOOK_URL + '/api/version')
    .then((responce) => {
      this.version = responce.data;
    })
    .catch(err => {
      console.log(err);
    });
  },
  methods: {
    openSignUpModal() {
      this.$refs.signUpModal.show();
    },
    openSignInModal() {
      this.$refs.signInModal.show();
    },
    signIn(user) {
      this.$store.dispatch('authentication/login', user);
    },
    logout() {
      this.$store.dispatch('authentication/logout');
    },
    addUser(user) {
      axios.post(process.env.VUE_APP_BOOK_URL + '/api/Account/Register', user)
      .then(() => {
        this.$bvToast.toast(`Можете авторизоваться`, {
          title: `Пользователь ${user.username} зарегистрирован`,
          autoHideDelay: 5000,
          appendToast: true
        })
      })
      .catch(err => {
        console.log(err);
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.mr-auto {
  margin-right: auto;
}
.ml-1 {
  margin-left: 5px;
}
.ml-3 {
  margin-left: 15px;
}
</style>
