<template>
  <div class="books">
    <div
      v-if="isLogged"
      class="d-flex align-items-center"
    >
      <b-button
        variant="success"
        class="flex-right"
        @click="openCreateBookModal"
      >Добавить</b-button>
    </div>
    <b-table
      v-if="books && books.length > 0 && isLogged"
      striped
      :items="books"
      :fields="fields"
    >
      <template #cell(status)="data">
        <b-form-select
          id="status-input"
          v-model="data.item.status"
          :options="statuses"
          @change="(value) => changeStatus(value, data.item)"
        ></b-form-select>
      </template>
      <template #cell(change)="data">
        <b-button
          variant="warning"
          @click="openEditBookModal(data.item)"
        >
          <b-icon icon="pencil-square"></b-icon>
        </b-button>
      </template>
      <template #cell(delete)="data">
        <b-button variant="danger" @click="deleteBook(data.item.isbn)">
          <b-icon icon="trash"></b-icon>
        </b-button>
      </template>
    </b-table>
    <h4 v-else-if="isLogged">Книг нет</h4>
    <h4 v-else>Авторизуйтесь или зарегистрируйтесь!</h4>
    <create-edit-book-modal
      ref="createEditBookModal"
      @add-book="addBook"
      @edit-book="editBook"
    />
  </div>
</template>

<script>
import axios from 'axios';
import CreateEditBookModal from './Models/CreateEditBookModal.vue';
export default {
  name: 'Books',
  components: {
    CreateEditBookModal,
  },
  data() {
    return {
      books: [],
      fields: [
        { key: 'isbn', label: 'ISBN', },
        { key: 'authors', label: 'Автор', },
        { key: 'title', label: 'Название', },
        { key: 'description', label: 'Описание', },
        { key: 'status', label: 'Статус', },
        { key: 'change', label: '', },
        { key: 'delete', label: '', },
      ],
      statuses: [
        { value: 'wishlist', text: 'Хочу прочитать' },
        { value: 'inprocess', text: 'Читаю' },
        { value: 'ready', text: 'Прочитана' },
      ]
    }
  },
  watch: {
    isLogged(value) {
      if (value) {
        this.getAllBooks();
      } else {
        this.books = []
      }
    }
  },
  computed: {
    isLogged() {
      return this.$store.state.authentication.status.loggedIn;
    },
    userToken() {
      return this.$store.state.authentication.user && this.$store.state.authentication.user.access_token;
    }
  },
  created() {
    if (this.isLogged) {
      this.getAllBooks();
    }
  },
  methods: {
    getAllBooks() {
      axios.get(process.env.VUE_APP_BOOK_URL + '/api/book/GetAll', {
        headers: {
          'Authorization': `Bearer ${this.userToken}`
        }
      })
      .then((responce) => {
        this.books = responce.data;
      })
      .catch(err => {
        console.log(err);
      });
    },
    openCreateBookModal() {
      this.$refs.createEditBookModal.show(false, null);
    },
    openEditBookModal(book) {
      this.$refs.createEditBookModal.show(true, book);
    },
    changeStatus(status, book) {
      book.status = status;
      this.editBook(book);
    },
    addBook(book) {
      axios.post(process.env.VUE_APP_BOOK_URL + '/api/book/add', book, {
        headers: {
          'Authorization': `Bearer ${this.userToken}`
        }
      })
      .then(() => {
        this.$refs.createEditBookModal.close();
        this.getAllBooks();
      })
      .catch(err => {
        this.$refs.createEditBookModal.bookExists(err.response.data);
      });
    },
    editBook(book) {
      axios.post(`${process.env.VUE_APP_BOOK_URL}/api/book/edit?isbn=${book.isbn}`, book, {
        headers: {
          'Authorization': `Bearer ${this.userToken}`
        }
      })
      .then(() => {
        this.getAllBooks();
      })
      .catch(err => {
        console.log(err);
      })
    },
    deleteBook(isbn) {
      axios.delete(`${process.env.VUE_APP_BOOK_URL}/api/book/delete?isbn=${isbn}`, {
        headers: {
          'Authorization': `Bearer ${this.userToken}`
        }
      })
      .then(() => {
        this.getAllBooks();
      })
      .catch(err => {
        console.log(err)
      })
    }
  },
}
</script>

<style lang="scss" scoped>
.buttons {
  display: flex;
  justify-content: center;
  .btn:last-child {
    margin-left: auto;
  }
}
.flex-right {
  margin-left: auto;
}
#status-input {
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0rem 0.5rem;
}
</style>