<template>
  <b-modal
    id="add-user-modal"
    ref="add-user-modal"
    title="Регистрация"
    @show="resetModal"
    @hidden="resetModal"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group
        class="mt-3"
        label="Логин"
        label-for="login-input"
        invalid-feedback="Логин должен быть длиннее 3-х знаков"
        :state="usernameValid"
      >
        <b-form-input
          id="login-input"
          v-model="user.username"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Email"
        label-for="email-input"
        invalid-feedback="Неверный email"
        :state="emailValid"
      >
        <b-form-input
          id="email-input"
          v-model="user.email"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Пароль"
        label-for="pass-input"
        invalid-feedback="Введите пароль"
        :state="passwordValid"
      >
        <b-form-input
          id="pass-input"
          type="password"
          v-model="user.password"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Повторите пароль"
        label-for="confirm-pass-input"
        invalid-feedback="Пароли должны совпадать и быть длиннее 5-и символов"
        :state="passwordValid"
      >
        <b-form-input
          id="confirm-pass-input"
          type="password"
          v-model="confirmPassword"
          required
        ></b-form-input>
      </b-form-group>
    </form>
    <template #modal-footer>
      <div>
        <b-button
          variant="outline-secondary"
          size="sm"
          @click="close"
        >
          Отмена
        </b-button>
        <b-button
          variant="success"
          size="sm"
          style="margin-left: 10px;"
          @click="handleSubmit"
        >
          Зарегистрироваться
        </b-button>
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: 'SignUpModal',
  data() {
    return {
      user: {
        username: '',
        email: '',
        password: '',
      },
      confirmPassword: '',
    }
  },
  computed: {
    usernameValid() {
      return this.user.username.length > 3;
    },
    emailValid() {
      return this.user.email.length > 5
        && this.user.email.includes('@')
        && this.user.email.indexOf('@') < this.user.email.length - 1;
    },
    passwordValid() {
      return this.user.password.length > 5 && this.user.password === this.confirmPassword;
    }
  },
  methods: {
    show() {
      this.$bvModal.show('add-user-modal');
    },
    close() {
      this.$bvModal.hide('add-user-modal');
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return valid;
    },
    resetModal() {
      this.user.username = '';
      this.user.email = '';
      this.user.password = '';
      this.confirmPassword = '';
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }

      this.$emit('add-user', this.user);

      this.$nextTick(() => {
        this.close();
      })
    }
  }
}
</script>
