<template>
  <b-modal
    id="sign-in-modal"
    ref="sign-in-modal"
    title="Вход"
    @show="resetModal"
    @hidden="resetModal"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group
        class="mt-3"
        label="Логин"
        label-for="login-input"
        invalid-feedback="Введите логин"
        :state="usernameValid"
      >
        <b-form-input
          id="login-input"
          v-model="user.username"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        class="mt-3"
        label="Пароль"
        label-for="pass-input"
        invalid-feedback="Введите пароль"
        :state="passwordValid"
      >
        <b-form-input
          id="pass-input"
          type="password"
          v-model="user.password"
          required
        ></b-form-input>
      </b-form-group>
    </form>
    <template #modal-footer>
      <div>
        <b-button
          variant="outline-secondary"
          size="sm"
          @click="close"
        >
          Отмена
        </b-button>
        <b-button
          variant="success"
          size="sm"
          style="margin-left: 10px;"
          @click="handleSubmit"
        >
          Войти
        </b-button>
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: 'SignInModal',
  data() {
    return {
      user: {
        username: '',
        password: '',
      },
    }
  },
  computed: {
    usernameValid() {
      return this.user.username.length > 0;
    },
    passwordValid() {
      return this.user.password.length > 0;
    }
  },
  methods: {
    show() {
      this.$bvModal.show('sign-in-modal');
    },
    close() {
      this.$bvModal.hide('sign-in-modal');
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return valid;
    },
    resetModal() {
      this.user.username = '';
      this.user.password = '';
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }

      this.$emit('sign-in', this.user);

      this.$nextTick(() => {
        this.close();
      })
    }
  }
}
</script>
